<div class="min-height" >
  <div class="container">
    <h1> Thermo-Nuclear Corridors</h1>

    <div class="row">
      <div class='col-xs-6'>
        <% @corridors.each do |corridor| %>
          <div class="col-xs-12 col-md-6">
            <%= link_to corridor_path(corridor) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path("corridor.jpg")%>);">
                <div class="card-description">
                  <h2> TNC to --> <%= corridor.planet.name %> !!! </h2>
                  <p> <%= corridor.address %> </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class='col-xs-6'>
        <div id="map" style="width: 100%; height: 600px;"></div>
      </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
    <script>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>
