<div class="min-height" >
  <div class="corridors">
    <div class='row'>
      <div class='col-xs-12 col-sm-6'>
        <% @corridors.each do |corridor| %>
          <div class="col-xs-12 col-md-6">
            <%= link_to corridor_path(corridor) do %>
              <div class="card" style="background-image: url('<%= image_path(corridor.planet.image)%>');">
                <div class="card-description">
                  <h2> Destination : <%= corridor.planet.name %> ! </h2>
                  <p> TNC location : <%= corridor.address %> </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
     </div>

    <div class='col-sm-6' >
      <div class ="map" id="map" ></div>
    </div>
  </div>
</div>

  <% content_for(:after_js) do %>
    <script>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>
